.mat-toolbar {
    background: white;
    display: flex;
    justify-content: space-between;
}

.icon-header {
    width: 39px;
    height: 43px;
}

.text-header {
    width: 70px;
    height: 26px;
}