input {
    border-width: 1px 0px 1px 1px;
    height: 20px;
    border-radius: 9px 0px 0px 9px;
    padding-left: 5px;
}

button {
    background-color: transparent;
    border: 8px;
    border: 1px solid #888888;
    height: 24px;
    border-radius: 0px 9px 9px 0px;
}