.container {
    width: 400px;
    color: black;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #00cbff5e;
}

div {
    line-height: 30px;
}

.title {
    text-align: start;
    padding: 1.5rem 2rem 1rem;
    font-size: 17px;
    font-weight: 600;
}

.content {
    padding: 1rem 1rem;
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    gap: 10px 10px;
}

.footer {
    display: flex;
    justify-content: end;
    padding: 0rem 1rem 1rem 0rem;
}

@media (max-width: 600px) {

    .container {
        width: auto;
        max-width: 600px;
    }
    
    .content {
        grid-template-columns: 1fr;

    }

    article {
        margin-top: 30px;
    }
}

input {
    display: block;
    width: 90%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-color: black;
    border: 1.9px solid #9c9b9b;
    border-radius: 7px;
}


input.ng-invalid.ng-touched {
    border-color: red;
}

.input-error {
    color: red;
}